# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Dependencies
node_modules/

# Build output
dist/
build/

# Upload directory
uploads/

# IDE specific files
.idea/
.vscode/
.codegpt/
